body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("background.webp");
}

header {
    background-color: #004AAD;
    color: white;
    text-align: left;
    padding: 10px 0;
}

.caixaDasMarcas{
    width: 200px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
}


.marcas{
    
    flex: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}

.logo {
width: 20%;

}

